<h1> Ajouter un utilisateur </h1>
<form action="/user/new" method="POST">
    Nom : 
    <input type="text" name="lastname" value="<%= lastname %>" /> <br />
    Prénom : 
    <input type="text" name="firstname" value="<%= firstname %>" /> <br />
    <input type="hidden" name="iduser" value="<%= iduser %>" /> <br />
    <input type="submit" name="save" value="Sauver" /> <br />
    <input type="submit" name="Retour à la liste" formaction="/user" /> <br />
</form>